/* Copyright © 2021-2022 Capobianco Anthony. <vt_@gmx.us> */
@import url('fonts/font-awesome.min.css');
body, main, footer, span, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.social {
  padding: 1rem;
  background: #383838;
  border-radius: 1rem;
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon::before {
  transition: all .33s cubic-bezier(.785, .135, .15, .86)
}

.social > .icon::before {
  padding: 0;
  margin: 0 .5rem;
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
}

.icon::before {
  display: inline-block;
  
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 2rem;
  text-align: center;
  vertical-align: middle;
  color: #444343;
  
  padding: 1rem;
  background: #fafafa;
  border-radius: 100%;
}

.icon:hover::before {
  transform: scale(1.1);
  color: #fafafa;
}

.tw::before { content: '\f099'; }
.tw:hover::before { background: #2196f3 }

.gh::before { content: '\f09b'; }
.gh:hover::before { background: #218bff }

.so::before { content: '\f16c'; }
.so:hover::before { background: #f48024 }

.in::before { content: '\f0e1'; }
.in:hover::before { background: #218bff }

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url('fonts/work.woff') format('woff')
}

footer {
  display: inline;
  color: #f9f9f9;
  font-family: 'Work Sans', sans-serif;
  bottom: 1em;
  position: absolute;
  text-align: center;
  font-size: smaller;
}
