/* Copyright © 2021-2022 Capobianco Anthony. <vt_@gmx.us> */
main, footer, span, a {
  all: unset;
  box-sizing: border-box;
}

body {
  background: #171717;
  display: flex;
  position: absolute;
  inset: 0;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  color: #fafafa
}

.social {
  position: relative;
  display: inline-flex;
  flex-flow: row wrap;
  
  padding: 1rem;
  margin: 1rem auto;
  width: 100%;
  max-width: 60ch;
  
  justify-content: space-evenly;
  align-self: center;
}

.img-icon {
  display: block;
  width: calc(15ch - 4rem);
  height: calc(15ch - 4rem);
  cursor: pointer
}

.tw:hover .img-icon { color: #2196f3 }
.gh:hover .img-icon { color: #218bff }
.so:hover .img-icon { color: #f48024 }
.in:hover .img-icon { color: #218bff }

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url('fonts/work.woff') format('woff')
}

footer {
  font-family: 'Work Sans', sans-serif;
  bottom: 1em;
  position: absolute;
  text-align: center;
  font-size: smaller
}